################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/scrubsAPI/FileContentIndex/965a7c8b-8fa9-477f-a1d6-4c736b5ccd10.vsidx
/.vs/scrubsAPI/FileContentIndex/a46b670f-bc13-4bbb-8315-f4f7b9303aaf.vsidx
/.vs/scrubsAPI/FileContentIndex/292a207f-a91f-4be3-99e7-3d905fa9e41b.vsidx
/.vs/scrubsAPI/FileContentIndex/83c0d531-612d-4a34-b38b-d8cbdc37985a.vsidx
/.vs/scrubsAPI/FileContentIndex/c4ba9417-834b-4281-85f5-a2a664a2d6f1.vsidx
